body {
    background-color: #093E55;
}
.messageBox {
    background-image: url(background-sea-water.jpg);
    border-radius: 15px;
    align-self: center;
    margin: auto;
    padding: 50px;
    width: 50%;
    height: 400px;
    overflow: scroll;
}
.messageCard {
    align-content: center;
    width: 225px;
    height: fit-content;
    overflow-wrap: normal;
    border-radius: 25px;
    padding: 12px;
    color: black;
    background-color: #f8f6f5;
}
.messageCard:nth-child(odd){
    float: left;
}
.messageCard:nth-child(even){
    float: right;
}
.messageCard + .messageCard {
    margin-top: 50px;
    margin-bottom: 50px;
}
#Page-Topper {
    text-align: center;
}